body {
  background-color: #fbf7f0;
}

/* Links */
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

hr {
  border-style: dotted none none;
  border-color: gray;
  border-width: 5px;
  height: 0;
  width: 5%;
}

h1 {
  color: #66bfbf;
}

h3 {
  color: #66bfbf;
}
