body {
  background: lightcoral;
}

img {
  border: 6px solid black;
  box-shadow: 5px 5px 20px;
  border-radius: 500px;
  background-color: white;
}

.me {
  border: 2px solid black;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 3px 3px 10px;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 5px 5px 20px;
  margin: 20px;
}
