* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: lightblue;
}

.me {
  background-color: blue;
  border-radius: 20px;
  box-shadow: inset 5px 5px 20px black;
  border: 3px solid black;
  text-align: center;
  color: white;
}

.buttonLinks {
  background-color: black;
  color: white;
  margin: 5px;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 3px 3px 10px grey;
}

.buttonLinks a {
  color: white;
  text-decoration: none;
}

.buttonLinks:hover {
  background-color: gray;
}
